p {
  font-size: 14px;
}
.main-color {
  font-weight: bold;
  color: #e33028;
}
.e-1 {
  color: #3eaf7c;
  background: #f7fefb;
  font-weight: 600;
  font-size: 12px;
  margin: 0 2px;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid #42c73324;
}

// 搜索结果样式
.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #646cff
  font-weight: bold
}