.main-color {
  font-weight: bold;
  color: #e33028;
}
.code-block-bg {
  color: #3eaf7c;
  background: #daefe6;
  font-weight: 600;
  margin: 0 2px;
  padding: 2px 10px;
  border-radius: 5px;
}

// 搜索结果样式
.suggestions {
  max-height: 80vh; // 搜索结果框高度自适应
  overflow-y: scroll;
}
.suggestions .highlight{
  color: #646cff
  font-weight: bold
}